.itemDetailContainer-body{
    display: flex;
    justify-content: center;
}

.idc-card{
    height: 500px;
    width: 500px;
}

.idc-card__title{
    font-size: 40px;
}

.idc-card__img-top{
    height: 300px;
    width: 300px;
}

.card-description{
    color: #323137;
    width: 80%;
    text-align: center;
}


.buttons-container{
    display: flex ;
    justify-content: center;
    width: 100%;
    gap: 5px;
    
}
.buttons-container button {
    margin-top: 3%;
    
}

.add{
    width: 137px;
    font-weight: 600;
}

.mas, .menos{
    width: 40px;
    font-weight: 600;
    font-size: 20px;
}

